.form-control {
    height: 50px;
    display: flex;
    text-align: center;
}

#goBtn {
    background-color: gold;
    width: 60px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#webBtn {
    background-color: rgb(211, 207, 207);
}

#webBtn:hover {
    background-color: white;
}

.searchBtnContainer {
    border-radius: 50px;
    border: 1px solid #ddd;
    background: #E3E3E3;
    display: inline-table;
    position: relative;
    overflow: hidden;
}

.searchBtnContainer li {
    line-height: 20px;
    padding: 5px 12px 0px;
    float: left;
    display: block;

}

.searchBtnContainer li.active {
    background: #fff;
    border-radius: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #f4f4f4;
    color: #333333;
    width: 100%;
    height: 50px;
    padding: 10px;
    display: inline;
}

.copyRightContainer {
    float: left;
}

.socialContainer {
    float: right;
}

.socialIcons {
    margin-right: 30px;
}

.copyRightLinks {
    color: black;
}

.copyRightLinks:hover {
    color: blue;

}


/* Dropdown Button */
.dropbtn {
    color: grey;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

